.wrapper .sidebar{
    position: fixed;
    top: 80px;
    background: #605e5d;
    width: 150px;
    height: calc(100% - 80px);
    transition: all 0.3s ease;
  }
  
  .wrapper .sidebar ul li a{
      display: block;
      padding: 20px;
      color: #fff;
      position: relative;
      /* margin-bottom: 1px; */
      color: #ffffff;
      white-space: nowrap;
  }
  
  .wrapper .sidebar ul li a:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: #e6e6e6;
    display: none;
  }
  
  .wrapper .sidebar ul li a span.icon{
    margin-right: 10px;
    display: inline-block;
  }
  
  .wrapper .sidebar ul li a span.title{
    display: inline-block;
  }
  
  .wrapper .sidebar ul li a:hover,
  .wrapper .sidebar ul li a.active{
    background: #e6e6e6;
    color: #fff;
  }
  
  .wrapper .sidebar ul li a:hover:before,
  .wrapper .sidebar ul li a.active:before{
    display: block;
  }